body{
    text-align: center;
    background-color: blanchedalmond;
}

input{
    margin: 10px;
}

#adatok{
    border: 1px solid black;
    width: 500px;
    margin: auto;
}

#hiba{
    color: red;
}